// TIP set a value to null to disable
@import "normalize";
$cursor-default-value: auto !default;
@import "foundation/components/global";
@import "compass/css3/box-shadow";

// better defaults (TODO maybe do these at the bottom of the theme colors)
//$table-line-height: 1.6 !default;
//$table-head-font-size: inherit !default;
$table-head-font-color: $body-font-color !default;
//$table-row-font-size: inherit !default;
$table-row-font-color: $body-font-color !default;

// custom default variables
// NOTE we have a chicken-egg problem here since Foundation
// doesn't define all of it's variables in global, many
// come from importing the components
$rainbow-lightness: -25% !default;
$rainbow-bg-lightness: -2% !default;
$header-word-spacing: null !default;
$subheader-font-family: null !default;
$subheader-font-style: null !default;
$subheader-font-size: null !default;
$title-font-color: #000 !default;
$title-font-weight: bold !default;
$font-smoothing: antialiased !default;
$sect-divider-size: 1px !default;
$sect-divider-style: solid !default;
$sect-divider-color: #ddd !default;
$sidebar-header-border-style: solid !default;
$sidebar-header-border-size: 0 !default;
$sidebar-header-border-color: #ddd !default;
$sidebar-header-align: null !default;

$anchor-text-decoration-hover: null !default;

$code-font-size: inherit !default;
$code-line-height: inherit !default;
$code-bg-color: inherit !default;
$code-border-color: #ddd !default;
$code-border-style: solid !default;
$code-border-size: 0 !default;
$code-padding: 0 !default;
$code-word-spacing: 0 !default;
$code-text-rendering: inherit !default;

$pre-font-family: Consolas, 'Liberation Mono', Courier, monospace !default;
$pre-font-size: emCalc(12px);//$em-base) !default;
$pre-font-color: inherit !default;
$pre-border-size: 1px !default;
$pre-border-style: solid !default;
$pre-border-color: #ddd !default;
$pre-bg: none !default;
// smaller padding bottom needed if using Cousine / Liberation Sans font
//$pre-padding: emCalc(12px) emCalc(12px) emCalc(8px) emCalc(12px) !default;
$pre-padding: emCalc(12px) !default;
$pre-line-height: 1.6 !default;

// fallback values set in components/asciidoc
//$footer-bg: $body-font-color !default;
//$footer-font-color: invert($body-font-color) !default;

$icon-text-shadow: 1px 1px 2px rgba(0, 0, 0, .5) !default;

$definition-list-content-margin-left: emCalc(18px) !default;

$blockquote-border-color: #ddd !default;

$thumb-border-style: solid !default;
$thumb-border-width: 4px !default;
$thumb-border-color: #fff !default;
$thumb-box-shadow: 0 0 0 1px #ddd !default;

// exclude unnecessary styles
$include-html-grid-classes: false;
$include-html-panel-classes: false;
$include-html-media-classes: false;
$include-html-inline-list-classes: false;
$include-print-styles: false;

// cut down on number of vendor prefixes used
$experimental-support-for-khtml: false;
$experimental-support-for-microsoft: false;
$experimental-support-for-mozilla: false;
$experimental-support-for-opera: false;
$experimental-support-for-webkit: true;

// bg-noise from https://gist.github.com/aaronrussell/856571 by Aaron Russell
$bg-noise-default-intensity: 0.5 !default;
$bg-noise-default-opacity: 0.08 !default;
$bg-noise-default-size: 200 !default;

@mixin bg-noise($color, $intensity: $bg-noise-default-intensity, $opacity: $bg-noise-default-opacity, $size: $bg-noise-default-size, $mono: false) {
  background-color: $color;
  background-image: background_noise($color, $intensity, $opacity, $size, $mono);
  background-repeat: repeat;
}
 
@mixin bg-noise-mono($color, $intensity: $bg-noise-default-intensity, $opacity: $bg-noise-default-opacity, $size: $bg-noise-default-size) {
  @include bg-noise($color, $intensity, $opacity, $size, true);
}
