@import "defaults";

// Settings

$primary-color: #00579e;
$global-radius: 0;
$em-base: 16px;

// Body

$base-font-size: emCalc(14px);
$body-font-color: black;
$body-font-family: lato, sans-serif;
$column-gutter: emCalc(48px);

// Headers

$title-font-color: #2b3e71;
$title-font-weight: 300;
$header-font-family: lato, sans-serif;
$header-font-weight: 400;
$header-font-color: $title-font-color;
$header-top-margin: .5em;
$subheader-font-color: darken($primary-color, 10%);
$sect-divider-size: 0;

// Footer

$footer-bg: none;
$footer-font-color: $body-font-color;

// Block Quotes

$blockquote-font-color: #333;

// Links

$anchor-font-color-hover: #333;
$anchor-text-decoration-hover: underline;

// Lists

$list-side-margin: emCalc(24px);
$definition-list-header-margin-bottom: emCalc(5px);
$definition-list-margin-bottom: emCalc(20px);
//$list-tile-font-family: lato, sans-serif;
//$list-tile-font-weight: 500;
//$list-tile-font-color: $title-font-color;

// Inline Code

$code-color: #003426;
$code-font-size: emCalc(14px);
$code-font-family: 'Source Code Pro', monospace;
$code-font-weight: 500;
$code-padding: 3px 2px 1px 2px;
$code-border-size: 1px;
$code-bg-color: transparent;

// Code Blocks

//$pre-bg: #2b3e71;
//$pre-font-color: white;
$pre-font-size: emCalc(14px);
$pre-font-family: 'Source Code Pro', monospace;
$pre-font-weight: 500;
$pre-border-color: #666;
$pre-border-style: dashed;
$pre-padding: emCalc(20px) emCalc(25px) emCalc(18px) emCalc(25px);

// Panels

$panel-bg: #fff;
$panel-border-color: #aaa;

// Paragraphs

$paragraph-font-family: lato, sans-serif;
$paragraph-margin-bottom: emCalc(12px);

// Tables

$table-border-color: #d8d8ce;
$table-head-bg: -webkit-linear-gradient(top, rgba(0, 87, 158, 0.47), #00579e);
$table-even-row-bg: #edf2f2;
$table-head-font-color: #fff;
$table-head-font-size: inherit;
$table-row-font-size: inherit;
$table-row-font-color: #6d6e71;
$table-line-height: 1.4;
