@import "fonts/lato";
@import "fonts/sourcecodepro";
@import "settings/envision";
@import "components/envision";
@import "components/awesome-icons";


h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid $sect-divider-color;
}

.sect1 {
  padding-bottom: 0;
}

#toctitle {
  color: #00406F;
  font-weight: normal;
  margin-top: 1.5em;
}

.sidebarblock {
  border-color: #aaa; // why is this not honoring variable?
}

code {
  @include radius(4px);
}

p.tableblock.header {
  color: $table-row-font-color;
}

.literalblock,
.listingblock {
  & pre {
    background: $pre-bg;
  }
}
